*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.more-text{
    display: none;
}
.text.active .more-text{
    display: block;
}
.text.active .dots{
    display: none;
}
.details{
   display: grid;
   background-color: #fdfdfd; 
}
/* Navbar section */
.book-finder{
    margin-left: 1.25em;
    font-style: italic;
}
.book-finder span{
    color: #1e8fb4;
    font-size: 1.5em;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
}  

ul{
    display: flex;
    justify-content: space-around;
    
    width: 50%;
}
ul li{
    list-style-type: none;
    justify-self: space-around;
}
ul li a{
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    color: #000;
}
.bar{
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}
.menu{
    display: none;
}
.main-navbar.sticky{
    background-color: #fff;
}
.main-navbar.sticky ul li a{
    transition: all;
    color: #1e8fb4;


}
.main-navbar.sticky ul li a:hover{
    color: #1e8fb4;
}
.open{
    /* transform: translateX(0); */
    left: 0;
}
.change .line1{
    transform: rotate(-45deg) translate(-5px,6px); 
    transition: all .5s ease-in-out;


}
.change .line2{
 opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px,-6px); 
    transition: all .5s ease-in-out;

}
@keyframes animationLinks{
    0% {
  opacity: 0;
  transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}
.cart{
    display: none;
}
.cart.show-cart{
    display: block;
}
.cart a{
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    color: #000;
}
.main-navbar.sticky .cart a{
    color: #1e8fb4;

}



/* Home section */
.img__wrapper{
    background-image:url("./images/book-library.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 100vh;
    
    
}
.layer{
    position: relative;
    top: 0;
    left: 0;
    /* background-color: rgba(136, 135, 131, 0.7); */
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 100vh;
}
.content{
    position: absolute;
    top: 30%;
    left: 10%;
}
.content .md{
    font-size: 50px;
    color: #fff;
}
.content .md span{
    color: #1e8fb4;
    font-size: 60px;
    font-weight: 300;
}
.md-size{
    font-size: 20px;
    line-height: 1.5em;
}
.content-btn{
    padding: 10px 16px;
    margin-top: 1.25em;
   
    background-color: #1e8fb4;
    transition: all ease-in-out .3s;
    outline: none;
    border: none;
}
.content-btn:hover{
text-transform: uppercase;
}
.content-btn a{
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;

}    
/* .container__wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
} */



/* Styling the form */
 #form{ 
    display: flex;
    justify-content: center;
} 
input[type='text'], .search-btn{
    border: 1px solid #000;
    padding: 10px 10px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    outline: none;

}
input[type='text']{
    width: 400px;
}
.search-btn{
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}
#main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.book-wrapper{
    background-color: #1e8fb4;
    padding: 10px 5px;
    text-align: center;
}
/* About section */


@media only  screen and (max-width: 768px){
    .main-navbar{
        justify-content: space-around;
    }
   
    .book-finder{
        margin-left: 0;
    }
    .menu{
        display: block;
        margin-left: 1.2em;
    }
  ul{
      top: 60px;
      position: fixed;
      background-color: aqua;
      width: 70%;
      flex-direction: column;
      height: 100vh;
      transition: all .5s ease-in-out;
      /* transform: translateX(1000px); */
      left: -100%;
      text-align: center;
      z-index: 1;
  }
  ul li{
      opacity: 0;
  }

/* home section */
.content{
    top: 27%;
    left: 10%;
    text-align: center;
}
.content .md span{
    font-size: 2px;
}
.content .md{
font-size: 20px;
}
.md-size{
font-size: 16px;
}


.container__wrapper{
    margin-top: 100px;
}

  input[type='text']{
      width: 300px;
  }input[type='text'], .search-btn{
      font-size: 10px;
  }

}
